# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Assembly-CSharp.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\misha\Documents\GitHub\cheesy-cupcake-with-chocolate-icing\.idea\.idea.Assembly-CSharp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
